#positionsTitle {
    height: 165vh;

    font-family: 'Orbitron', sans-serif;
}

#positionsTitle td {
    text-align: center;
}

.menu {
    grid-column-start: 1;
    grid-column-end: 2;
    
    grid-row-start: 2;
    grid-row-end: 5;
}