header {
    text-align: center;
    height: 10vh;

    border-bottom: 5px solid rgba(245, 245, 245, 1);
}

header h1 {
    margin-bottom: 0;
}

header p {
    margin-top: 0;
}

header a {
    text-decoration: none;
}