/** App.js */
#pointsTitle {
    width: 80vw;
}

#pointsTitle td {
    text-align: center;
}

#pointsTitle h1 {
    margin-bottom: 0;
}

#positionsTitle {
    height: 165vh;
}

#positionsTitle td {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-gap: 1vw;
}

.menu {
    grid-column-start: 1;
    grid-column-end: 2;
    
    grid-row-start: 2;
    grid-row-end: 5;
}

.title {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
}

.content {
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 5;
}