#playerContainer {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    border-radius: 8px;
    margin-bottom: 45vh;
}

.background {
    background-image: url("../images/background.jpg");
    background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#player {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}

#player h3 {
    text-align: center;

    margin-top: 0;
    margin-bottom: 0;
}

#player p {
    text-align: center;

    margin-top: 0;
    
    text-transform: capitalize;
}

#player img {
    width: 15vw;
    height: 20vh;
}